div{
    width: 120px;
    height: 100vh;/*viewport height*/
    background-color: green;
    color: white;
    font-size: 30px;
    transition: 500ms;
    position: absolute;
}

div.oculta{
    transform: translateX(-80%);
}